
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";


#nav-bar {
	background: var(--gnome-headerbar-background) !important;
	border: 0 !important;
	padding: var(--gnome-toolbar-padding) calc(var(--gnome-toolbar-padding) / 2) !important;
}


:root[privatebrowsingmode="temporary"] #nav-bar toolbarspring:first-of-type:before {
	background: var(--gnome-icon-eye-not-looking-symbolic) no-repeat;
	background-size: 64px 64px;
	content: "";
	display: block;	
	position: absolute;
	width: 64px;
	height: 64px;
	top: 0;
	transform: translate(15px, -9px);
	fill: var(--gnome-window-color) !important;
	opacity: 0.1 !important;
	-moz-context-properties: fill;
  }

:root[privatebrowsingmode="temporary"]:-moz-window-inactive #nav-bar toolbarspring:first-of-type:before {
	opacity: 0.05 !important;
}

@media (prefers-color-scheme: dark) {
	:root[privatebrowsingmode="temporary"] #nav-bar toolbarspring:first-of-type:before {
		filter: invert(1) !important;
	}
}


.private-browsing-indicator-with-label {
	display: none !important;
}


@media -moz-pref("browser.fullscreen.autohide") {
	#navigator-toolbox[inFullscreen] { 	
		position: fixed !important;
		transition: margin var(--gnome-animation-time) ease-in-out 0s !important;
		line-height: 0;
		z-index: 1;
		width: 100vw;
	}

	#navigator-toolbox[inFullscreen]:hover,
	#navigator-toolbox[inFullscreen]:focus-within {
		margin-top: 0 !important;
	}

	#navigator-toolbox[inFullscreen] > * {
		line-height: normal;
	}
}
