

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

#tabbrowser-tabbox {
	--chrome-content-separator-color: var(--gnome-toolbar-border-color);

	.browserContainer {
		box-shadow: none !important;
		outline: 0 !important;
	}
}

@media -moz-pref("sidebar.revamp") and -moz-pref("sidebar.revamp.round-content-area") {
	:root {
		--chrome-content-separator-color: var(--gnome-toolbar-border-color) !important;
	}
	
	#tabbrowser-tabbox {
		--border-radius-medium: var(--gnome-card-radius) !important;
		
		#tabbrowser-tabpanels {
			background-color: var(--gnome-sidebar-background) !important;
		}
		
		.browserContainer {
			outline: 0 !important;
			
			#tabbrowser-tabbox[sidebar-shown] & {
				box-shadow: var(--gnome-card-shadow) !important;
			}
		}
	}
}

@media -moz-pref("sidebar.revamp") and (not -moz-pref("sidebar.verticalTabs")) {
    #tabbrowser-tabbox[sidebar-shown]:not([sidebar-panel-open]) .browserContainer {
        box-shadow: none !important;
    }
}

@media (prefers-color-scheme: light) {
    #tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab {
        --gnome-fixed-tab-background: transparent;
        --gnome-tabbar-tab-close-overlay-bg: var(--gnome-fixed-tab-background) !important;
    }

    #tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab:where([selected], [visuallyselected], [multiselected]) {
        --gnome-fixed-tab-background: var(--gnome-tabbar-tab-active-background);
    }

    #tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab:where(:hover) {
        --gnome-fixed-tab-background: var(--gnome-tabbar-tab-hover-background);
    }

    #tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab:where([selected], [visuallyselected], [multiselected]):where(:hover) {
        --gnome-fixed-tab-background: var(--gnome-tabbar-tab-active-hover-background);
    }

    #tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab:where(:active) {
        --gnome-fixed-tab-background: var(--gnome-active-color);
    }

    #tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab:where([selected], [visuallyselected], [multiselected]):where(:active) {
        --gnome-fixed-tab-background: var(--gnome-selected-active-color);
    }

    #tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab > .tab-stack > .tab-background {
        background: var(--gnome-fixed-tab-background) !important;
        box-shadow: none !important;
    }

    #tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab:active > .tab-stack > .tab-background {
        transition: none !important;
    }
}

@media (prefers-color-scheme: light) {
    #tabbrowser-tabs[orient="vertical"] .tabbrowser-tab:is([selected], [visuallyselected], [multiselected]) {
        --gnome-fixed-tab-background: var(--gnome-selected-color);
        --gnome-tabbar-tab-close-overlay-bg: var(--gnome-fixed-tab-background) !important;
    }

    #tabbrowser-tabs[orient="vertical"] .tabbrowser-tab:is([selected], [visuallyselected], [multiselected]):hover {
        --gnome-fixed-tab-background: var(--gnome-selected-hover-color);
    }

    #tabbrowser-tabs[orient="vertical"] .tabbrowser-tab:is([selected], [visuallyselected], [multiselected]) > .tab-stack > .tab-background {
        background: var(--gnome-fixed-tab-background) !important;
        box-shadow: none !important;
    }
}

@media (prefers-color-scheme: dark) {
    :root[privatebrowsingmode="temporary"] #tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab:not(:hover):is([selected], [visuallyselected], [multiselected]) > .tab-stack > .tab-background {
        background: var(--gnome-selected-color) !important;
    }
}

:root[privatebrowsingmode="temporary"] #tabbrowser-tabs[orient="vertical"] {
    .tabbrowser-tab {
        --gnome-fixed-tab-background: transparent;
        --gnome-tabbar-tab-close-overlay-bg: var(--gnome-fixed-tab-background) !important;
    }

    .tabbrowser-tab:where([selected], [visuallyselected], [multiselected]) {
        --gnome-fixed-tab-background: var(--gnome-tabbar-tab-active-background);
    }

    .tabbrowser-tab:where(:hover) {
        --gnome-fixed-tab-background: var(--gnome-tabbar-tab-hover-background);
    }

    .tabbrowser-tab:where([selected], [visuallyselected], [multiselected]):where(:hover) {
        --gnome-fixed-tab-background: var(--gnome-tabbar-tab-active-hover-background);
    }

    .tabbrowser-tab:where(:active) {
        --gnome-fixed-tab-background: var(--gnome-active-color);
    }

    .tabbrowser-tab:where([selected], [visuallyselected], [multiselected]):where(:active) {
        --gnome-fixed-tab-background: var(--gnome-selected-active-color);
    }

    .tabbrowser-tab > .tab-stack > .tab-background {
        background: var(--gnome-fixed-tab-background) !important;
        box-shadow: none !important;
    }

    .tabbrowser-tab:active > .tab-stack > .tab-background {
        transition: none !important;
    }
}
